body
{
    background-color: rgb(78, 78, 78);
    
}

.logo
{
    text-align: center;
    padding:30px;
}
#submit
{
    width: 160px;
    height: 30px;
    text-align: center;
    background-color: rgb(38, 153, 173);
    letter-spacing: 4px;
    color:white;    
}
#addressField
{
    color:white;
    background-color: darkgrey;  
}
#textField
{
    background-color: darkgrey;
    
}
.menu
{   
    width: 700px;
    height: 300px;
    border: 5px solid rgb(38, 153, 173);
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)    
}

