<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="feeGet.css"> 
        <script src="feeGet.js"></script>

    </head>    
    <body>
    
        <div class="menu">
            <p id=codeText> </p>    
        </div>

    </body>
</html>