<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    </head>    
    <body>
        
        <h1 id="asd">Loading your code...</h1>
        
        <script>
                code="";
                for(i=0;i<10;i++)
                {
                    code=code+Math.floor(Math.random()*Math.floor(9));
                }
                console.log(code);
                document.getElementById("asd").value=code;
        </script>
        
        

    </body>
</html>