<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    </head>    
    <body>
        
        <script>
            function getCode()
            {
                code="";
                for(i=0;i<10;i++)
                {
                    code=code+Math.floor(Math.random()*Math.floor(9));
                }
                console.log(code);
                return code;
            } 
        </script>
        
        <h1 value="getCode()" id="asd"> asd</h1>

    </body>
</html>