<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BlockChat</title>        
    </head>    

    <body>
        <script src="index.js"></script>

        <form id="form" action="feeGet">
            <br>Address:<br>
            <input type="text" size ="42" value="0x345873A24BE1..." style="color:#B1B1B1; font-style:italic;" onclick="changeStyle()" name="addr" id="addressField" >
            <br><br>
            Message:<br>
            <textarea rows="6" cols="50" value="Insert your message here..." style="color:#B1B1B1; font-style:italic;" name="comment" form="form"> </textarea>
            <br><br>
            <input type="submit" value="Send">
        </form> 
    </body>
</html>